--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO nitin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO nitin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO nitin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO nitin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO nitin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO nitin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO nitin;

--
-- Name: info_assign; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_assign (
    id bigint NOT NULL,
    class character varying(5) NOT NULL,
    course_id character varying(10) NOT NULL,
    faculty_id character varying(100) NOT NULL
);


ALTER TABLE public.info_assign OWNER TO nitin;

--
-- Name: info_assign_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_assign ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_assign_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_assigntime; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_assigntime (
    id bigint NOT NULL,
    period character varying(50) NOT NULL,
    day character varying(15) NOT NULL,
    assign_id bigint NOT NULL
);


ALTER TABLE public.info_assigntime OWNER TO nitin;

--
-- Name: info_assigntime_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_assigntime ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_assigntime_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_attendance; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_attendance (
    id bigint NOT NULL,
    date date,
    status boolean NOT NULL,
    attendanceclass_id bigint NOT NULL,
    course_id character varying(10),
    student_id character varying(15) NOT NULL
);


ALTER TABLE public.info_attendance OWNER TO nitin;

--
-- Name: info_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_attendance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_attendanceclass; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_attendanceclass (
    id bigint NOT NULL,
    date date NOT NULL,
    status integer NOT NULL,
    assign_id bigint NOT NULL
);


ALTER TABLE public.info_attendanceclass OWNER TO nitin;

--
-- Name: info_attendanceclass_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_attendanceclass ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_attendanceclass_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_attendancerange; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_attendancerange (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL
);


ALTER TABLE public.info_attendancerange OWNER TO nitin;

--
-- Name: info_attendancerange_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_attendancerange ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_attendancerange_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_studentcourse; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_studentcourse (
    id bigint NOT NULL,
    course_id character varying(10) NOT NULL,
    student_id character varying(15) NOT NULL
);


ALTER TABLE public.info_studentcourse OWNER TO nitin;

--
-- Name: info_attendancetotal_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_studentcourse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_attendancetotal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_branch; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_branch (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    short_name character varying(10) NOT NULL,
    dept_id character varying(10) NOT NULL
);


ALTER TABLE public.info_branch OWNER TO nitin;

--
-- Name: info_class; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_class (
    id character varying(5) NOT NULL,
    batch character varying NOT NULL,
    branch_id integer NOT NULL,
    degree character varying NOT NULL,
    sem integer NOT NULL
);


ALTER TABLE public.info_class OWNER TO nitin;

--
-- Name: info_course; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_course (
    id character varying(10) NOT NULL,
    name character varying(100) NOT NULL,
    shortname character varying(10) NOT NULL,
    credits integer NOT NULL,
    dept_id character varying(10) NOT NULL
);


ALTER TABLE public.info_course OWNER TO nitin;

--
-- Name: info_dept; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_dept (
    id character varying(10) NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.info_dept OWNER TO nitin;

--
-- Name: info_faculty; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_faculty (
    id character varying(100) NOT NULL,
    name character varying(100) NOT NULL,
    sex character varying(50) NOT NULL,
    "DOB" date NOT NULL,
    dept_id character varying(10) NOT NULL,
    user_id bigint NOT NULL,
    email character varying(254),
    phone_number character varying(13)
);


ALTER TABLE public.info_faculty OWNER TO nitin;

--
-- Name: info_markclass; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_markclass (
    id bigint NOT NULL,
    test_name character varying(50) NOT NULL,
    status boolean NOT NULL,
    assign_id bigint NOT NULL
);


ALTER TABLE public.info_markclass OWNER TO nitin;

--
-- Name: info_markclass_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_markclass ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_markclass_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_marks; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_marks (
    id bigint NOT NULL,
    mark integer NOT NULL,
    mark_class_id bigint NOT NULL,
    student_id character varying(15) NOT NULL
);


ALTER TABLE public.info_marks OWNER TO nitin;

--
-- Name: info_marks_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_marks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_marks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_student; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_student (
    id character varying(15) NOT NULL,
    name character varying(200) NOT NULL,
    sex character varying(50) NOT NULL,
    "DOB" date NOT NULL,
    phone_number character varying(13) NOT NULL,
    email character varying(254),
    class character varying(5) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.info_student OWNER TO nitin;

--
-- Name: info_user; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.info_user OWNER TO nitin;

--
-- Name: info_user_groups; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.info_user_groups OWNER TO nitin;

--
-- Name: info_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_user_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: info_user_user_permissions; Type: TABLE; Schema: public; Owner: nitin
--

CREATE TABLE public.info_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.info_user_user_permissions OWNER TO nitin;

--
-- Name: info_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: nitin
--

ALTER TABLE public.info_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.info_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: nitin
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: nitin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	info	assign
7	info	class
8	info	course
9	info	dept
10	info	user
11	info	assigntime
12	info	attendanceclass
13	info	branch
14	info	faculty
15	info	program
16	info	student
17	info	attendance
19	info	marksclass
20	info	marks
21	info	markclass
22	info	attendancerange
18	info	studentcourse
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: nitin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: nitin
--



--
-- Data for Name: info_assign; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_assign (id, class, course_id, faculty_id) FROM stdin;
1	B121	CS067	CS001
2	B322	EC032	EC021
4	B521	CS067	CS101
6	B322	CS067	CS101
7	M123	EC032	EC021
\.


--
-- Data for Name: info_assigntime; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_assigntime (id, period, day, assign_id) FROM stdin;
13	11:00 - 12:00	Monday	2
16	09:00 - 10:00	Thursday	6
18	11:00 - 12:00	Wednesday	4
19	09:00 - 10:00	Tuesday	7
\.


--
-- Data for Name: info_attendance; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_attendance (id, date, status, attendanceclass_id, course_id, student_id) FROM stdin;
29	2024-07-10	f	38	CS067	B521039
30	2024-07-10	t	38	CS067	B521055
31	2024-07-10	t	38	CS067	B521045
33	2024-07-24	f	40	CS067	B521039
34	2024-07-24	t	40	CS067	B521055
35	2024-07-24	t	40	CS067	B521045
36	2024-07-03	t	37	CS067	B521039
37	2024-07-03	f	37	CS067	B521055
38	2024-07-03	t	37	CS067	B521045
\.


--
-- Data for Name: info_attendanceclass; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_attendanceclass (id, date, status, assign_id) FROM stdin;
15	2024-07-01	0	2
16	2024-07-08	0	2
17	2024-07-15	0	2
18	2024-07-22	0	2
19	2024-07-29	0	2
29	2024-07-04	0	6
30	2024-07-11	0	6
31	2024-07-18	0	6
32	2024-07-25	0	6
41	2024-07-02	0	7
42	2024-07-09	0	7
43	2024-07-16	0	7
44	2024-07-23	0	7
45	2024-07-30	0	7
38	2024-07-10	1	4
40	2024-07-24	1	4
37	2024-07-03	1	4
\.


--
-- Data for Name: info_attendancerange; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_attendancerange (id, start_date, end_date) FROM stdin;
1	2024-07-01	2024-07-31
\.


--
-- Data for Name: info_branch; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_branch (id, name, short_name, dept_id) FROM stdin;
1	Computer Science and Engineering	CSE	CS
2	Electronics and Telecommunication	ETC	ECE
3	Electrical and Electronics Engineering	EEE	EE
5	Computer Engineering	CE	CS
\.


--
-- Data for Name: info_class; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_class (id, batch, branch_id, degree, sem) FROM stdin;
B322	2022-26	3	Bachelor of Technology	1
B121	2021-25	1	Bachelor of Technology	7
B521	2021-25	5	Bachelor of Technology	7
M123	2023-25	1	Master of Technology	3
\.


--
-- Data for Name: info_course; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_course (id, name, shortname, credits, dept_id) FROM stdin;
CS067	Data Structure	DS	2	CS
EC032	Fibre Optics	FOCS	3	ECE
\.


--
-- Data for Name: info_dept; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_dept (id, name) FROM stdin;
CS	Computer Science
ECE	Electronics Engineering
EE	Electrical Engineering
\.


--
-- Data for Name: info_faculty; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_faculty (id, name, sex, "DOB", dept_id, user_id, email, phone_number) FROM stdin;
CS001	Sanjay Saxena	Male	1980-01-01	CS	5	\N	\N
EC021	Deepak Kumar Rout	Male	1980-01-01	ECE	6	\N	\N
CS101	Swati Vipsita	Female	1985-01-01	CS	12	\N	\N
EE001	Saroj	Male	1980-01-01	EE	13	\N	\N
EE002	Khirod	Male	1980-01-01	EE	14	\N	\N
EE003	Jayant	Male	1980-01-01	EE	15	\N	\N
\.


--
-- Data for Name: info_markclass; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_markclass (id, test_name, status, assign_id) FROM stdin;
1	Faculty Assessment	t	1
2	Mid Semester Exam	t	4
3	End Semester Exam	f	4
\.


--
-- Data for Name: info_marks; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_marks (id, mark, mark_class_id, student_id) FROM stdin;
2	5	1	B121001
3	30	2	B521039
4	25	2	B521055
7	12	3	B521045
8	10	3	B521039
9	22	3	B521055
\.


--
-- Data for Name: info_student; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_student (id, name, sex, "DOB", phone_number, email, class, user_id) FROM stdin;
B322001	Akchat	Male	2000-01-01	536477456	nitinsahu023@gmail.com	B322	4
B121001	Shruti	Male	2024-07-01	34563425253	nitinsahu023@gmail.com	B121	3
B521039	Nitin Chandra Sahu	Male	2004-01-07	+917978622820	nitinsahu023@gmail.com	B521	16
B521055	Shradha Suman Pal	Female	2003-11-24	4654646464	\N	B521	17
B521045	Prabhu Prasad Sahoo	Male	2000-01-01	356435	prabhu@gmail.com	B521	19
\.


--
-- Data for Name: info_studentcourse; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_studentcourse (id, course_id, student_id) FROM stdin;
5	CS067	B521039
6	CS067	B521055
7	CS067	B521045
\.


--
-- Data for Name: info_user; Type: TABLE DATA; Schema: public; Owner: nitin
--



--
-- Data for Name: info_user_groups; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: info_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: nitin
--

COPY public.info_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 133, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 34, true);


--
-- Name: info_assign_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_assign_id_seq', 7, true);


--
-- Name: info_assigntime_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_assigntime_id_seq', 19, true);


--
-- Name: info_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_attendance_id_seq', 38, true);


--
-- Name: info_attendanceclass_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_attendanceclass_id_seq', 45, true);


--
-- Name: info_attendancerange_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_attendancerange_id_seq', 1, true);


--
-- Name: info_attendancetotal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_attendancetotal_id_seq', 7, true);


--
-- Name: info_markclass_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_markclass_id_seq', 3, true);


--
-- Name: info_marks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_marks_id_seq', 9, true);


--
-- Name: info_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_user_groups_id_seq', 1, false);


--
-- Name: info_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_user_id_seq', 19, true);


--
-- Name: info_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nitin
--

SELECT pg_catalog.setval('public.info_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: info_assign info_assign_course_id_class_b0850c1d_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assign
    ADD CONSTRAINT info_assign_course_id_class_b0850c1d_uniq UNIQUE (course_id, class);


--
-- Name: info_assign info_assign_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assign
    ADD CONSTRAINT info_assign_pkey PRIMARY KEY (id);


--
-- Name: info_assigntime info_assigntime_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assigntime
    ADD CONSTRAINT info_assigntime_pkey PRIMARY KEY (id);


--
-- Name: info_attendance info_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendance
    ADD CONSTRAINT info_attendance_pkey PRIMARY KEY (id);


--
-- Name: info_attendanceclass info_attendanceclass_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendanceclass
    ADD CONSTRAINT info_attendanceclass_pkey PRIMARY KEY (id);


--
-- Name: info_attendancerange info_attendancerange_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendancerange
    ADD CONSTRAINT info_attendancerange_pkey PRIMARY KEY (id);


--
-- Name: info_studentcourse info_attendancetotal_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_studentcourse
    ADD CONSTRAINT info_attendancetotal_pkey PRIMARY KEY (id);


--
-- Name: info_studentcourse info_attendancetotal_student_id_course_id_f5461a1c_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_studentcourse
    ADD CONSTRAINT info_attendancetotal_student_id_course_id_f5461a1c_uniq UNIQUE (student_id, course_id);


--
-- Name: info_branch info_branch_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_branch
    ADD CONSTRAINT info_branch_pkey PRIMARY KEY (id);


--
-- Name: info_class info_class_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_class
    ADD CONSTRAINT info_class_pkey PRIMARY KEY (id);


--
-- Name: info_course info_course_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_course
    ADD CONSTRAINT info_course_pkey PRIMARY KEY (id);


--
-- Name: info_dept info_dept_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_dept
    ADD CONSTRAINT info_dept_pkey PRIMARY KEY (id);


--
-- Name: info_faculty info_faculty_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_faculty
    ADD CONSTRAINT info_faculty_phone_number_key UNIQUE (phone_number);


--
-- Name: info_faculty info_faculty_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_faculty
    ADD CONSTRAINT info_faculty_pkey PRIMARY KEY (id);


--
-- Name: info_faculty info_faculty_user_id_key; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_faculty
    ADD CONSTRAINT info_faculty_user_id_key UNIQUE (user_id);


--
-- Name: info_markclass info_markclass_assign_id_test_name_78995dbe_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_markclass
    ADD CONSTRAINT info_markclass_assign_id_test_name_78995dbe_uniq UNIQUE (assign_id, test_name);


--
-- Name: info_markclass info_markclass_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_markclass
    ADD CONSTRAINT info_markclass_pkey PRIMARY KEY (id);


--
-- Name: info_marks info_marks_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_marks
    ADD CONSTRAINT info_marks_pkey PRIMARY KEY (id);


--
-- Name: info_marks info_marks_student_id_mark_class_id_bf92b2f2_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_marks
    ADD CONSTRAINT info_marks_student_id_mark_class_id_bf92b2f2_uniq UNIQUE (student_id, mark_class_id);


--
-- Name: info_student info_student_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_student
    ADD CONSTRAINT info_student_phone_number_key UNIQUE (phone_number);


--
-- Name: info_student info_student_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_student
    ADD CONSTRAINT info_student_pkey PRIMARY KEY (id);


--
-- Name: info_student info_student_user_id_key; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_student
    ADD CONSTRAINT info_student_user_id_key UNIQUE (user_id);


--
-- Name: info_user_groups info_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_groups
    ADD CONSTRAINT info_user_groups_pkey PRIMARY KEY (id);


--
-- Name: info_user_groups info_user_groups_user_id_group_id_1b352364_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_groups
    ADD CONSTRAINT info_user_groups_user_id_group_id_1b352364_uniq UNIQUE (user_id, group_id);


--
-- Name: info_user info_user_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user
    ADD CONSTRAINT info_user_pkey PRIMARY KEY (id);


--
-- Name: info_user_user_permissions info_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_user_permissions
    ADD CONSTRAINT info_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: info_user_user_permissions info_user_user_permissions_user_id_permission_id_86ac821e_uniq; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_user_permissions
    ADD CONSTRAINT info_user_user_permissions_user_id_permission_id_86ac821e_uniq UNIQUE (user_id, permission_id);


--
-- Name: info_user info_user_username_key; Type: CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user
    ADD CONSTRAINT info_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: info_assign_class_adb466eb; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assign_class_adb466eb ON public.info_assign USING btree (class);


--
-- Name: info_assign_class_adb466eb_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assign_class_adb466eb_like ON public.info_assign USING btree (class varchar_pattern_ops);


--
-- Name: info_assign_course_id_50da791d; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assign_course_id_50da791d ON public.info_assign USING btree (course_id);


--
-- Name: info_assign_course_id_50da791d_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assign_course_id_50da791d_like ON public.info_assign USING btree (course_id varchar_pattern_ops);


--
-- Name: info_assign_faculty_id_dd1a8339; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assign_faculty_id_dd1a8339 ON public.info_assign USING btree (faculty_id);


--
-- Name: info_assign_faculty_id_dd1a8339_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assign_faculty_id_dd1a8339_like ON public.info_assign USING btree (faculty_id varchar_pattern_ops);


--
-- Name: info_assigntime_assign_id_dea972e8; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_assigntime_assign_id_dea972e8 ON public.info_assigntime USING btree (assign_id);


--
-- Name: info_attendance_attendanceclass_id_165ae557; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendance_attendanceclass_id_165ae557 ON public.info_attendance USING btree (attendanceclass_id);


--
-- Name: info_attendance_course_id_862fb2a9; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendance_course_id_862fb2a9 ON public.info_attendance USING btree (course_id);


--
-- Name: info_attendance_course_id_862fb2a9_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendance_course_id_862fb2a9_like ON public.info_attendance USING btree (course_id varchar_pattern_ops);


--
-- Name: info_attendance_student_id_a3848ef5; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendance_student_id_a3848ef5 ON public.info_attendance USING btree (student_id);


--
-- Name: info_attendance_student_id_a3848ef5_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendance_student_id_a3848ef5_like ON public.info_attendance USING btree (student_id varchar_pattern_ops);


--
-- Name: info_attendanceclass_assign_id_8241361c; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendanceclass_assign_id_8241361c ON public.info_attendanceclass USING btree (assign_id);


--
-- Name: info_attendancetotal_course_id_d7c45376; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendancetotal_course_id_d7c45376 ON public.info_studentcourse USING btree (course_id);


--
-- Name: info_attendancetotal_course_id_d7c45376_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendancetotal_course_id_d7c45376_like ON public.info_studentcourse USING btree (course_id varchar_pattern_ops);


--
-- Name: info_attendancetotal_student_id_47e719b1; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendancetotal_student_id_47e719b1 ON public.info_studentcourse USING btree (student_id);


--
-- Name: info_attendancetotal_student_id_47e719b1_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_attendancetotal_student_id_47e719b1_like ON public.info_studentcourse USING btree (student_id varchar_pattern_ops);


--
-- Name: info_branch_dept_id_b8ffccf9; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_branch_dept_id_b8ffccf9 ON public.info_branch USING btree (dept_id);


--
-- Name: info_branch_dept_id_b8ffccf9_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_branch_dept_id_b8ffccf9_like ON public.info_branch USING btree (dept_id varchar_pattern_ops);


--
-- Name: info_class_branch_id_97fa98d3; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_class_branch_id_97fa98d3 ON public.info_class USING btree (branch_id);


--
-- Name: info_class_id_e0643062_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_class_id_e0643062_like ON public.info_class USING btree (id varchar_pattern_ops);


--
-- Name: info_course_dept_id_8783e216; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_course_dept_id_8783e216 ON public.info_course USING btree (dept_id);


--
-- Name: info_course_dept_id_8783e216_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_course_dept_id_8783e216_like ON public.info_course USING btree (dept_id varchar_pattern_ops);


--
-- Name: info_course_id_3cb5c07f_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_course_id_3cb5c07f_like ON public.info_course USING btree (id varchar_pattern_ops);


--
-- Name: info_dept_id_0c6f25a6_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_dept_id_0c6f25a6_like ON public.info_dept USING btree (id varchar_pattern_ops);


--
-- Name: info_faculty_dept_id_33840d1b; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_faculty_dept_id_33840d1b ON public.info_faculty USING btree (dept_id);


--
-- Name: info_faculty_dept_id_33840d1b_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_faculty_dept_id_33840d1b_like ON public.info_faculty USING btree (dept_id varchar_pattern_ops);


--
-- Name: info_faculty_id_1a0ff5e1_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_faculty_id_1a0ff5e1_like ON public.info_faculty USING btree (id varchar_pattern_ops);


--
-- Name: info_faculty_phone_number_3db87401_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_faculty_phone_number_3db87401_like ON public.info_faculty USING btree (phone_number varchar_pattern_ops);


--
-- Name: info_markclass_assign_id_5a48d5d2; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_markclass_assign_id_5a48d5d2 ON public.info_markclass USING btree (assign_id);


--
-- Name: info_marks_mark_class_id_5e4c90b1; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_marks_mark_class_id_5e4c90b1 ON public.info_marks USING btree (mark_class_id);


--
-- Name: info_marks_student_id_72635413; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_marks_student_id_72635413 ON public.info_marks USING btree (student_id);


--
-- Name: info_marks_student_id_72635413_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_marks_student_id_72635413_like ON public.info_marks USING btree (student_id varchar_pattern_ops);


--
-- Name: info_student_class_fac4bb0d; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_student_class_fac4bb0d ON public.info_student USING btree (class);


--
-- Name: info_student_class_fac4bb0d_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_student_class_fac4bb0d_like ON public.info_student USING btree (class varchar_pattern_ops);


--
-- Name: info_student_id_c81dee5e_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_student_id_c81dee5e_like ON public.info_student USING btree (id varchar_pattern_ops);


--
-- Name: info_student_phone_number_f4df9109_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_student_phone_number_f4df9109_like ON public.info_student USING btree (phone_number varchar_pattern_ops);


--
-- Name: info_user_groups_group_id_40dffdbb; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_user_groups_group_id_40dffdbb ON public.info_user_groups USING btree (group_id);


--
-- Name: info_user_groups_user_id_583ab83a; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_user_groups_user_id_583ab83a ON public.info_user_groups USING btree (user_id);


--
-- Name: info_user_user_permissions_permission_id_839364f4; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_user_user_permissions_permission_id_839364f4 ON public.info_user_user_permissions USING btree (permission_id);


--
-- Name: info_user_user_permissions_user_id_ffc10b58; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_user_user_permissions_user_id_ffc10b58 ON public.info_user_user_permissions USING btree (user_id);


--
-- Name: info_user_username_5f64c2d6_like; Type: INDEX; Schema: public; Owner: nitin
--

CREATE INDEX info_user_username_5f64c2d6_like ON public.info_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_info_user_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_info_user_id FOREIGN KEY (user_id) REFERENCES public.info_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_assign info_assign_class_adb466eb_fk_info_class_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assign
    ADD CONSTRAINT info_assign_class_adb466eb_fk_info_class_id FOREIGN KEY (class) REFERENCES public.info_class(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_assign info_assign_course_id_50da791d_fk_info_course_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assign
    ADD CONSTRAINT info_assign_course_id_50da791d_fk_info_course_id FOREIGN KEY (course_id) REFERENCES public.info_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_assign info_assign_faculty_id_dd1a8339_fk_info_faculty_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assign
    ADD CONSTRAINT info_assign_faculty_id_dd1a8339_fk_info_faculty_id FOREIGN KEY (faculty_id) REFERENCES public.info_faculty(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_assigntime info_assigntime_assign_id_dea972e8_fk_info_assign_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_assigntime
    ADD CONSTRAINT info_assigntime_assign_id_dea972e8_fk_info_assign_id FOREIGN KEY (assign_id) REFERENCES public.info_assign(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_attendance info_attendance_attendanceclass_id_165ae557_fk_info_atte; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendance
    ADD CONSTRAINT info_attendance_attendanceclass_id_165ae557_fk_info_atte FOREIGN KEY (attendanceclass_id) REFERENCES public.info_attendanceclass(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_attendance info_attendance_course_id_862fb2a9_fk_info_course_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendance
    ADD CONSTRAINT info_attendance_course_id_862fb2a9_fk_info_course_id FOREIGN KEY (course_id) REFERENCES public.info_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_attendance info_attendance_student_id_a3848ef5_fk_info_student_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendance
    ADD CONSTRAINT info_attendance_student_id_a3848ef5_fk_info_student_id FOREIGN KEY (student_id) REFERENCES public.info_student(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_attendanceclass info_attendanceclass_assign_id_8241361c_fk_info_assign_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_attendanceclass
    ADD CONSTRAINT info_attendanceclass_assign_id_8241361c_fk_info_assign_id FOREIGN KEY (assign_id) REFERENCES public.info_assign(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_studentcourse info_attendancetotal_course_id_d7c45376_fk_info_course_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_studentcourse
    ADD CONSTRAINT info_attendancetotal_course_id_d7c45376_fk_info_course_id FOREIGN KEY (course_id) REFERENCES public.info_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_studentcourse info_attendancetotal_student_id_47e719b1_fk_info_student_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_studentcourse
    ADD CONSTRAINT info_attendancetotal_student_id_47e719b1_fk_info_student_id FOREIGN KEY (student_id) REFERENCES public.info_student(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_branch info_branch_dept_id_b8ffccf9_fk_info_dept_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_branch
    ADD CONSTRAINT info_branch_dept_id_b8ffccf9_fk_info_dept_id FOREIGN KEY (dept_id) REFERENCES public.info_dept(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_class info_class_branch_id_97fa98d3_fk_info_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_class
    ADD CONSTRAINT info_class_branch_id_97fa98d3_fk_info_branch_id FOREIGN KEY (branch_id) REFERENCES public.info_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_course info_course_dept_id_8783e216_fk_info_dept_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_course
    ADD CONSTRAINT info_course_dept_id_8783e216_fk_info_dept_id FOREIGN KEY (dept_id) REFERENCES public.info_dept(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_faculty info_faculty_dept_id_33840d1b_fk_info_dept_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_faculty
    ADD CONSTRAINT info_faculty_dept_id_33840d1b_fk_info_dept_id FOREIGN KEY (dept_id) REFERENCES public.info_dept(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_faculty info_faculty_user_id_9e98370b_fk_info_user_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_faculty
    ADD CONSTRAINT info_faculty_user_id_9e98370b_fk_info_user_id FOREIGN KEY (user_id) REFERENCES public.info_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_markclass info_markclass_assign_id_5a48d5d2_fk_info_assign_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_markclass
    ADD CONSTRAINT info_markclass_assign_id_5a48d5d2_fk_info_assign_id FOREIGN KEY (assign_id) REFERENCES public.info_assign(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_marks info_marks_mark_class_id_5e4c90b1_fk_info_markclass_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_marks
    ADD CONSTRAINT info_marks_mark_class_id_5e4c90b1_fk_info_markclass_id FOREIGN KEY (mark_class_id) REFERENCES public.info_markclass(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_marks info_marks_student_id_72635413_fk_info_student_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_marks
    ADD CONSTRAINT info_marks_student_id_72635413_fk_info_student_id FOREIGN KEY (student_id) REFERENCES public.info_student(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_student info_student_class_fac4bb0d_fk_info_class_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_student
    ADD CONSTRAINT info_student_class_fac4bb0d_fk_info_class_id FOREIGN KEY (class) REFERENCES public.info_class(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_student info_student_user_id_3ec39602_fk_info_user_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_student
    ADD CONSTRAINT info_student_user_id_3ec39602_fk_info_user_id FOREIGN KEY (user_id) REFERENCES public.info_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_user_groups info_user_groups_group_id_40dffdbb_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_groups
    ADD CONSTRAINT info_user_groups_group_id_40dffdbb_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_user_groups info_user_groups_user_id_583ab83a_fk_info_user_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_groups
    ADD CONSTRAINT info_user_groups_user_id_583ab83a_fk_info_user_id FOREIGN KEY (user_id) REFERENCES public.info_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_user_user_permissions info_user_user_permi_permission_id_839364f4_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_user_permissions
    ADD CONSTRAINT info_user_user_permi_permission_id_839364f4_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: info_user_user_permissions info_user_user_permissions_user_id_ffc10b58_fk_info_user_id; Type: FK CONSTRAINT; Schema: public; Owner: nitin
--

ALTER TABLE ONLY public.info_user_user_permissions
    ADD CONSTRAINT info_user_user_permissions_user_id_ffc10b58_fk_info_user_id FOREIGN KEY (user_id) REFERENCES public.info_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

